{% include 'base.html.twig' %}

{% block body %}
    <h1>Список запросов:</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Заголовок</th>
                    <th>Статус</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requestList %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td><a href="{{ path("request.show",{id: request.id}) }}">{{ request.title }}</a></td>
                        <td>{{ request.status}}</td>
                        <td>{{ request.createAt.format('Y.m.d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}